<!-- Programming Languages Carousel -->
<div class="w-full bg-black py-4">
  <div id="logo-carousel" class="logo-carousel-container">
    <div class="logo-track" id="logo-track">
      
      <!-- Logo Set 1 -->
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/c/white" alt="C" class="logo-icon">
          <span class="logo-text">C</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/cplusplus/white" alt="C++" class="logo-icon">
          <span class="logo-text">C++</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/kotlin/white" alt="Kotlin" class="logo-icon">
          <span class="logo-text">Kotlin</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="assets/logo/icons8-java-logo.svg" alt="Java" class="logo-icon">
          <span class="logo-text">Java</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/python/white" alt="Python" class="logo-icon">
          <span class="logo-text">Python</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/php/white" alt="PHP" class="logo-icon">
          <span class="logo-text">PHP</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/ruby/white" alt="Ruby" class="logo-icon">
          <span class="logo-text">Ruby</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/javascript/white" alt="JavaScript" class="logo-icon">
          <span class="logo-text">JavaScript</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/go/white" alt="Go" class="logo-icon">
          <span class="logo-text">Go</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/typescript/white" alt="TypeScript" class="logo-icon">
          <span class="logo-text">TypeScript</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="assets/logo/kalilinux-svgrepo-com.svg" alt="Kali Linux" class="logo-icon">
          <span class="logo-text">Kali Linux</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="assets/logo/icons8-burp-suite.svg" alt="Burp Suite" class="logo-icon">
          <span class="logo-text">Burp Suite</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="assets/logo/icons8-nmap.svg" alt="NMAP" class="logo-icon">
          <span class="logo-text">NMAP</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://www.svgrepo.com/show/448266/aws.svg" alt="AWS" class="logo-icon logo-icon-inverted">
          <span class="logo-text">AWS</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/wireshark/white" alt="Wireshark" class="logo-icon">
          <span class="logo-text">Wireshark</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/docker/white" alt="Docker" class="logo-icon">
          <span class="logo-text">Docker</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/wordpress/white" alt="WordPress" class="logo-icon">
          <span class="logo-text">WordPress</span>
        </div>
      </div>
      
      <!-- Logo Set 2 (Duplicate for seamless loop) -->
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/c/white" alt="C" class="logo-icon">
          <span class="logo-text">C</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/cplusplus/white" alt="C++" class="logo-icon">
          <span class="logo-text">C++</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/kotlin/white" alt="Kotlin" class="logo-icon">
          <span class="logo-text">Kotlin</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="assets/logo/icons8-java-logo.svg" alt="Java" class="logo-icon">
          <span class="logo-text">Java</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/python/white" alt="Python" class="logo-icon">
          <span class="logo-text">Python</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/php/white" alt="PHP" class="logo-icon">
          <span class="logo-text">PHP</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/ruby/white" alt="Ruby" class="logo-icon">
          <span class="logo-text">Ruby</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/javascript/white" alt="JavaScript" class="logo-icon">
          <span class="logo-text">JavaScript</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/go/white" alt="Go" class="logo-icon">
          <span class="logo-text">Go</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/typescript/white" alt="TypeScript" class="logo-icon">
          <span class="logo-text">TypeScript</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="assets/logo/kalilinux-svgrepo-com.svg" alt="Kali Linux" class="logo-icon">
          <span class="logo-text">Kali Linux</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="assets/logo/icons8-burp-suite.svg" alt="Burp Suite" class="logo-icon">
          <span class="logo-text">Burp Suite</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="assets/logo/icons8-nmap.svg" alt="NMAP" class="logo-icon">
          <span class="logo-text">NMAP</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://www.svgrepo.com/show/448266/aws.svg" alt="AWS" class="logo-icon logo-icon-inverted">
          <span class="logo-text">AWS</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/wireshark/white" alt="Wireshark" class="logo-icon">
          <span class="logo-text">Wireshark</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/docker/white" alt="Docker" class="logo-icon">
          <span class="logo-text">Docker</span>
        </div>
      </div>
      
      <div class="logo-item">
        <div class="logo-content">
          <img src="https://cdn.simpleicons.org/wordpress/white" alt="WordPress" class="logo-icon">
          <span class="logo-text">WordPress</span>
        </div>
      </div>
      
    </div>
  </div>
</div>