/* Pull to Refresh */
#pull-to-refresh {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    pointer-events: none;
    transform: translateY(-100%);
    transition: transform 0.2s ease-out;
    background: none;
}

#pull-to-refresh.visible {
    transform: translateY(0);
}

.ptr-icon {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255, 0, 0, 0.726) !important;
    border-top-color: #e9e9e9 !important;
    border-radius: 50% !important;
    transition: transform 0.2s linear;
    background-color: transparent !important;
}

.ptr-icon.loading {
    animation: ptr-spin 0.8s infinite linear;
    border: 4px solid rgba(255, 0, 0, 0.726) !important;
    border-top-color: #e9e9e9 !important;
}

@keyframes ptr-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}